# for this project
randomgreyrock*
randompinetree*
randomgrassland*
randomflower*
randomsnowpinetree*
randomsnowland*
save0*
savebackup*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Emacs
*~
\#*\#
*.emacs.d
*.emacs
*.idlerc

