# for this project
randomgreyrock*
randompinetree*
randomgrassland*
randomflower*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Emacs
*~
\#*\#
*.emacs.d
*.emacs
*.idlerc

